@model AvtobuskaStanica.Models.Relation

@{
    ViewBag.Title = "RelationCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Преглед по продадени карти за релација</h2>

<div>
  
    <dl class="dl-horizontal">
        <dt>
           Од
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fromDestination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toDestination)
        </dt>

        <dd>
           До
        </dd>

        <dt>
           Цена еден правец
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceOneWay)
        </dd>

        <dt>
           Цена повратен билет
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceRoundTrip)
        </dd>

        <dt>
           Капацитет
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            Време
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            Превозник
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

    </dl>
    <h2>Билети</h2>
    <ol>
        <li>377749932</li>
        <li>894637289</li>
        <li>567499322</li>
    </ol>
</div>
<p> |
    @Html.ActionLink("Назад", "Index")
</p>
