<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <p class="nav-link" style="color:forestgreen !important;">@Html.ActionLink("Почетна", "Index", "Home")</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link" style="color:forestgreen !important;">@Html.ActionLink("Возен Ред", "Index", "Relation")</p>
                </li>
                <li class="nav-item">
                    <p class="nav-link" style="color:forestgreen !important;">@Html.ActionLink("Контакт", "ContactPage", "PageDown")</p>
                </li>
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <p class="nav-link" style="color:forestgreen !important;">@Html.ActionLink("Додади улога", "Index", "Role")</p>
                        }
                    }
                    </li>
            </ul>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <a >@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
                <a style="margin-left:5px">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
   
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
