@model avtobuskastanica.models.addtorolemodel

@{
    viewbag.title = "addusertorole";
    layout = "~/views/shared/_layout.cshtml";
}

<h2>addusertorole</h2>

@using (html.beginform("addusertorole", "account")) 
{
    @html.antiforgerytoken()
    
    <div class="form-horizontal">
        <h4>addtorolemodel</h4>
        <hr />
        @html.validationsummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @html.labelfor(model => model.email, htmlattributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.editorfor(model => model.email, new { htmlattributes = new { @class = "form-control" } })
                @html.validationmessagefor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @html.labelfor(model => model.selectedrole, "select role", htmlattributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @html.dropdownlistfor(model => model.selectedrole, new selectlist(model.roles), new { htmlattributes = new { @class = "form-control" } })
                @html.validationmessagefor(model => model.selectedrole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@url.action("index", "home")" class="btn btn-primary">назад</a>
</div>
